html,body {
    padding: 20px;
    background-color: rgb(225, 228, 204);
}
h3 {
color: rgb(255, 111, 111);
}
p {
text-indent: 40px;
text-align: justify;
}
#text-blue {
    color: blue;
}
.text-magenta {
    color: magenta;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  th {
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #eeeeee;
  }

  tr:nth-child(odd) {
    background-color: beige;
  }

  .content {
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  /* style form */
form {
  font-family: 'Courier New', Courier, monospace;
  border: #dadada solid 1px;
  width: 410px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #dadada;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"], input[type="date"], input[type="number"], select, textarea {
  width: 400px;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
